
h1 {
  text-align: center;
}

.about p{
  padding-left: 2%;
  padding-right: 2%;
}

.credit {
  text-align: center;
  font-size: 50%;
}

h3 {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.imgItem {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
}

.techs p {
  text-align: center;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contact p {
  text-align: center;
}

.about, .techs, .projects, .contact {
  padding-top: 10%;
}
.disclaimer {
  display: block;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  text-align-last: center;

}
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }