
.welcome {
  background-color: black;
  color: white;
  font-size: 500%;
  padding-top: 10%;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
  min-height: 80vh;

}

.nav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;

}
.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8%;
  padding-left: 1%;
}

h1 {
  text-align: center;
}

.about p{
  padding-left: 2%;
  padding-right: 2%;
}

.credit {
  text-align: center;
  font-size: 50%;
}

h3 {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.imgItem {
  padding-left: 2%;
  padding-right: 2%;
}

.techs p {
  text-align: center;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contact p {
  text-align: center;
}

.about, .techs, .projects, .contact {
  padding-top: 10%;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}