.welcome {
  background-color: black;
  color: white;
  font-size: 100px;
  padding-top: 10%;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 

}

.nav {
  background-color: black;
  overflow: hidden;

}
.nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8%;
  padding-left: 0;
}

h1 {
  text-align: center;
}

.icons {
  display: flex;
}
.contact p, .techs p, .about p{
  padding-left: 2%;
  padding-right: 2%;
}

.credit {
  text-align: center;
  font-size: 50%;
}

h3 {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.imgItem {
  padding-left: 5%;
  padding-right: 5%;
}

